.table-edit{

    display: flex;
    justify-content: center;
    padding: 20%;
}
.btn{
    color: #fff;
}
.bouton-retour{
    padding-left: 20px;
    width:300px;
   
}
.button-add{
    background-color: gold;
}