
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="title--name">
        <div class="profil-title-log">
          <img src="./../../../assets/Logo.png">
        </div>
      </div>
       </mat-toolbar>
       <div class="logo--profil">
          <img src="./../../../assets/pexels-photo-2379004 1.png" class="image" alt="">
          <div class="profil--name">
            <h4>karthil madesh</h4>
             <div class="name">
                <p>ADMIN</p>
             </div>
          </div>
       </div>
    <mat-nav-list side-item>
      <a mat-list-item href="#" [routerLink]="['/dashboard']"><i class="fa-sharp fa-solid fa-house"></i>
        <span  class="etudiant">Home</span> </a>
    
      <a mat-list-item href="#" [routerLink]="['/utilisateur']"><i class="fas fa-graduation-cap"></i> <span class="etudiant">Student</span> </a>
    
      <a mat-list-item href="#" [routerLink]="['/payment']"><i class="fa-solid fa-dollar-sign"></i> <span class="etudiant">Payment</span> </a>
   
      <a mat-list-item href="#"><i class="fa-regular fa-file"></i><span class="etudiant">Report</span> </a>
   
      <a mat-list-item href="#"><i class="fa-regular fa-gear"></i><span class="etudiant">Settings</span> </a>
      
      <div class="logout-item">
        <a mat-list-item href="#"><i class="fa-sharp fa-solid fa-right-to-bracket"></i> <span class="etudiant">Logout</span> </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"><h3>menu</h3></mat-icon>
      </button>
      <div class="nav-brainds-icon">
        <nav class="navbar bg-body-tertiary d-flex">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn close-barr" type="submit"><i class="fa-regular fa-bell" color="primary"></i></button>
            </form>
       
        </nav>
      </div>
      
    </mat-toolbar>
    <div class="card-deck">
      <div class="card-one m-3 shadow-lg p-3">
        <img src="./../../../assets/icon/count.png" alt="">
      </div>
      <div class="card-two m-3 shadow-lg p-3">
        <img src="./../../../assets/icon/count (1).png" alt="">
      </div>
      <div class="card-tree m-3 shadow-lg p-3">
       <img src="./../../../assets/icon/count (2).png" alt="">
      </div>
      <div class="card-four m-3 shadow-lg p-3 ">
      <img src="./../../../assets/icon/count (3).png" alt="" class="img-fluid">
      </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
    <!-- Add Content Here -->
    <!-- <app-dashboard></app-dashboard> -->
  </mat-sidenav-content>
</mat-sidenav-container>

