
  <div class="col-sm-12 col-md-4 mt-5">
    <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3 tetx-center">
            <h5 class="text-center text-warning">Ajouter utilisateur</h5>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" name="name"
            [(ngModel)]="name">
            <label for="name"> name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Name" name="username"
            [(ngModel)]="username">
            <label for="lastName">username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email"
            [(ngModel)]="email" >
            <label for="email">Email </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="mobile" name="number"
            [(ngModel)]="phone">
            <label for="mobile">Number</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="mobile" name="date"
          [(ngModel)]="date">
          <label for="mobile">Date</label>
      </div>
        <button type="button" class="btn btn-outline-success" (click)="savedata()">Add
            utilisateur</button>
    </div>
</div>