<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <div class="title--name">
            <div class="profil-title-lmgs">
                <img src="./../../../assets/Logo.png">
              </div>
        </div>
         </mat-toolbar>
         <div class="logo--profil">
            <img src="./../../../assets/pexels-photo-2379004 1.png" class="image" alt="">
            <div class="profil--name">
              <h4>karthil madesh</h4>
               <div class="name">
                  <p>ADMIN</p>
               </div>
            </div>
         </div>
      <mat-nav-list side-item>
        <a mat-list-item href="#" [routerLink]="['/dashboard']"><i class="fa-sharp fa-solid fa-house"></i>
           Home</a>
        <a mat-list-item href="#" [routerLink]="['/utilisateur']"><i class="fas fa-graduation-cap"></i><span class="etudiant">Student</span> </a>
        <a mat-list-item href="#" [routerLink]="['./payment']"><i class="fa-solid fa-dollar-sign"></i> <span class="etudiant"> Payment</span> </a>
        <a mat-list-item href="#"><i class="fa-regular fa-file"></i><span class="etudiant"> Report</span></a>
        <a mat-list-item href="#"><i class="fa-regular fa-gear"></i><span class="etudiant">Settings</span> </a>
        <div class="logout-item">
          <a mat-list-item href="#"><i class="fa-sharp fa-solid fa-right-to-bracket"></i><span  class="etudiant">Logout</span> </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="nav-brainds-icon">
          <nav class="navbar bg-body-tertiary d-flex">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn " type="submit"><i class="fa-regular fa-bell"></i></button>
              </form>
         
          </nav>
        </div>
        
      </mat-toolbar>

<div class="icon-vs-btn">
  <div class="sort-icon">
    <img src="./../../../assets/icon/sort 1.png" alt="">
  </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>   



<table class="table table-striped">
    <thead>
      <tr >
        <th  scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">email</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let etudiant of liststudent">
       
        <td><img src="./../../../assets/pexels-photo-2379004 1.png" class="profil-img"></td>
        <td>
            {{etudiant.name}}</td>
        <td>{{etudiant.email}}</td>
        <td>{{etudiant.phone}}</td>
        <td>{{etudiant.number}}</td>
        <td>{{etudiant.date}}</td>
        <td>
            <button class="icon-orange"><i class="fa-sharp fa-solid fa-pen"></i></button>
            &ensp; &ensp;&ensp; &ensp;
            <button class="icon-orange"><i class="fa-sharp fa-solid fa-trash"></i></button>
        </td>
      </tr>
   
    </tbody>
  </table>
      <!-- <router-outlet></router-outlet> -->
      <!-- Add Content Here -->
      <!-- <app-dashboard></app-dashboard> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  

