<div class="global">
    <div class="container-fluid login">
        <div class="row col-sm-12 mt-5">
            <div class="col"></div>
            <div class=" col=sm-12 col-md-4">
                <div class="card shadow">
                    <div class=" card-body">
                        <div class="title-login">
                            <img src="./../../../assets/Logo.png">
                        </div>
                        <div class="sign"><h4>Register</h4>
                         <div class="paragraph">
                            <p>Enter your credentials to access your account</p>
                        </div>
                        </div>
                        <form>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email</label>
                              <input type="email" class="form-control" name="email" [(ngModel)]="email">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" name="password" [(ngModel)]="password">
                            </div>
                            <button class="mb-3" type="button" class="btn btn-info" (click)="register()">Inscrire</button>
                            <div class="row">
                                <div class="col-md-12 forgot">
                                    <a routerLink="/login"  style="text-decoration: none;"><span class="text-gris">Have an account ?</span>  <span class="text-warning">Login</span></a>
                                </div>
                  
                            </div>
                            <div class="row mt-2">
                                <a  style="text-decoration: none;cursor: pointer;">
                                    <div class="card shadow text-center">
                                        <!-- <div class="card-body">
                                            <img src="../../../assets/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In with Google
                                        </div> -->
                                    </div>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

